$font-path: '../assets/fonts/Be_Vietnam_Pro';

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}/BeVietnamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
